<form [formGroup]="users" (ngSubmit)="onUsersSubmitted(users)">
    <div>
        <mat-form-field appearance="fill">
            <mat-label>First Name</mat-label><input matInput type="text" placeholder="First Name"
                formControlName="firstName" required>
            <mat-error *ngIf="users.get('firstName')!.invalid">firstName is invalid</mat-error>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Last Name</mat-label><input matInput type="text" placeholder="Last Name"
                formControlName="lastName" required>
            <mat-error *ngIf="users.get('lastName')!.invalid">lastName is invalid</mat-error>
        </mat-form-field>
    </div>
    <div>
        <mat-label>Choose an option</mat-label>
        <div>
            <mat-radio-group formControlName="gender">
                <mat-radio-button *ngFor="let item of item$ | async" [value]="item">{{item}}</mat-radio-button>
            </mat-radio-group>
            <mat-error *ngIf="users.get('gender')!.invalid">gender is invalid</mat-error>
        </div>
    </div>



    <div><button type="submit" mat-raised-button color="primary">Submit</button></div>
</form>