<mat-card>
    <mat-card-title>Select category</mat-card-title>
    <mat-card-content>

        <mat-selection-list role="list" *ngIf="list$ | async as category; else loading">
            <ng-container *ngIf="category.length > 0; else empty">
                <mat-list-option role="listitem" *ngFor="let item of category">{{item}}</mat-list-option>
            </ng-container>
        </mat-selection-list>

        <ng-template #loading>
            <mat-progress-spinner [color]="'primary'" [mode]="'indeterminate'" [value]="50">
            </mat-progress-spinner>
        </ng-template>

        <ng-template #empty>
            <p>Oops! There is no data!</p>
        </ng-template>

    </mat-card-content>
</mat-card>