<mat-card>
    <mat-card-title>Create user with a role:</mat-card-title>
    <mat-card-content>
        <form [formGroup]="userRolesForm" (ngSubmit)="onUserRolesFormSubmitted(userRolesForm)">
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label><input matInput type="email" placeholder="Email" formControlName="email"
                        required>
                    <mat-error *ngIf="userRolesForm.get('email')!.invalid">email is invalid</mat-error>
                </mat-form-field>
            </div>
            <div>
                <p>Role Id</p>
                <mat-form-field appearance="fill">
                    <mat-label>Role</mat-label>
                    <mat-select formControlName="roleId">
                        <mat-option *ngFor="let item of user$ | async" [value]="item.id">
                            {{item.role}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div><button type="submit" mat-raised-button color="primary">Submit</button></div>
        </form>
    </mat-card-content>
</mat-card>